
button {
    border-radius: 15px;
}


h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}


.add-button{
    box-shadow: 5px 5px 10px #333;
}

mat-nav-list a{
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px #333;
    border-radius: 15px;
  
}

mat-nav-list a:hover{
    box-shadow: none;
}