<div class="container">
    <div class="px-2">
        <div class="row mb-2 mt-2">
            <div class="col d-flex justify-content-between">
                <h1>
                    <button (click)="onGoBack()" mat-icon-button><i class="fa-solid fa-arrow-left-long"></i></button>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Request To Change Password</h2>
                        <div class="mb-2">
                            <label for="currentPassword">Current Email:</label>
                            <input type="email" class="form-control" name="currentEmail" id="currentEmail"
                                [(ngModel)]="currentEmail">

                        </div>
                        <div class="mb-1">
                            <span>{{ currentEmail }}</span>
                        </div>

                        <div class="mb-2">
                            <button [disabled]="!currentEmail" mat-raised-button (click)="onSendEmailToChangePassword()"
                                disabled>Confirmation</button>

                            <!-- <button *ngIf="(isLoading$ | async)" class="btn btn-danger" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                send...
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <app-global-spinner *ngIf="(isLoading$ | async)"></app-global-spinner>
    <!-- <app-global-spinner *ngIf="!(isLoading$ | async)"></app-global-spinner> -->
    
</div>
