main {
    background: #F4F6FF;
    height: 100vh;
}

.login-block {
    margin-top: 8rem;
    background: #F4F6FF;
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    font-weight: 900;
    color: #ff4081;
    font-size: 40px;
    margin-bottom: 10px;
}

.btn-danger {
    background: #ff4081;
}

mat-form-field {
    width: 500px;
}


button {
    border-radius: 15px;
    width: 500px;
}

.follow a {
    font-size: 24px;
    margin: 8px;
}

.follow a i {
    color: #ff4081;
    font-weight: bold;
}

@media screen and (max-width: 575px) {
    mat-form-field {
        width: 100%;
    }

    button {
        width: 100%;
    }

    .login-block {
        margin-top: 20%;
    }
}