<div class="container mt-4">
    <div class="px-4">
        <div class="row mb-3">
            <div class="col-lg-12">
                <button routerLink="/welcom" mat-raised-button >Back</button>
            </div>
            
        </div>
        <div class="row mb-2">
            <div class="col-6">
                <h1 class="text-danger">Help Center</h1>
                <p>We're here to help you. Feel free to ask any questions you may have.</p>
                <p>For more information, please visit our <a href="#">FAQ page</a>.</p>
                
                <div class="mb-2">
                    <label for="email" class="">Email</label>
                    <input type="email" id="email" class="form-control" placeholder="Your email">
                </div>
                <div class="mb-2">
                    <label for="subject" class="">Subject</label>
                    <textarea name="" class="form-control" id=""></textarea>
                </div>
               <div class="mb-2">
                <button mat-raised-button>Send a message</button>  <!-- mat-flat-button mat-icon-button -->  <!-- mat-icon mat-button-icon -->  <!-- mat-button mat-icon-button mat-icon-button-toggle -->  <!-- mat-icon mat-button-icon mat-icon-button-toggle mat-button-toggle-icon-only -->  <!-- mat-icon mat-button-icon mat-button-toggle-icon-only mat-button-toggle-small -->  <!-- mat-icon mat-button-icon mat-button-toggle-icon-only mat-button-toggle-medium -->  <!-- mat-icon mat-button-icon mat-button-toggle-icon-only mat-button-toggle-large -->  <!-- mat-icon mat-button-icon mat-button-toggle-icon-only mat-button-toggle-disabled -->  <!-- mat-icon mat-button
               </div>
            </div>
        </div>
    </div>
</div>
<!-- <button mat-flat-button><mat-icon>schedule_send</mat-icon>Send a email</button> -->