<div class="container">
    <div class="px-4">

        <div class="row">
            <div class="col-md-12">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac velit sit amet purus facilisis tristique.
                    Duis nec consectetur dolor. Donec vel ipsum vel velit faucibus tempus vel vel turpis. Sed vel enim et diam
                    sagittis consectetur.</p>
            </div>
            <div class="mb-2">
                <h3>Contact Us</h3>
                <p>Phone: +123 456 7890</p>
                <p>Email: {{companyEmail}}</p>
                <p>Address: Cameroon, Yaounde, Meedong</p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6">
                <button routerLink="/welcom" mat-flat-button color="accent">Back</button>
            </div>
        </div>
    </div>
</div>