<div class="container">
    <div class="px-2">
        <div class="row mb-2 mt-2">
            <div class="col d-flex justify-content-between">
                <h1>
                    <button (click)="onGoBack()" mat-icon-button><i
                            class="fa-solid fa-arrow-left-long"></i></button>Store List
                </h1>
                <button  mat-icon-button color="accent" class="add-button"
                routerLink="/admin/add-store"><mat-icon>add_business</mat-icon> </button>
            </div>
        </div>
        <div class="row mb-2">
          
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-nav-list *ngFor="let owner of myStoreList" >
                    <a mat-list-item routerLink="/management/stores/{{owner?.id}}" >
                        <span *ngIf="owner.active" class="badge rounded-pill bg-success float-end">active</span>
                        <span *ngIf="!owner.active" class="badge rounded-pill bg-danger float-end">not active</span>
                        <span matListItemTitle>{{ owner.name }}</span>
                        <!-- <span matLine>{{ owner. }}</span> --> 
                    </a>
                </mat-nav-list>

            </div>
        </div>
    </div>

</div>