<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>
<!-- LODING STATE -->
<div *ngIf="appState === DataState.LOADING_STATE ">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<!-- LOADED STATE -->
<div *ngIf="appState === DataState.LOADED_STATE">
    <mat-nav-list *ngFor="let owner of myStoreList">
        <a *ngIf="owner.store.active" mat-list-item (click)="openLink(owner)">
            <span matListItemTitle>{{ owner.store.name }}</span>
            <span matLine>{{ owner.users.firstName }}</span>
        </a>
        <!-- check if store is active -->
        <div *ngIf="!owner.store.active" class="alert alert-primary d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                <use xlink:href="#info-fill" />
            </svg>
            Your acces has been revocke. Contact your administrator.
        </div>
        <!-- check store have access -->

        <!-- <div *ngIf="owner.accessRevoked" class="alert alert-primary d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                <use xlink:href="#info-fill" />
            </svg>
            Your acces has been revocke. Contact your administrator.
        </div> -->
        <!--  -->
    </mat-nav-list>
    <div class="d-flex justify-content-center">
        <div *ngIf="myStoreList.length === 0 ">
            <button mat-raised-button routerLink="/admin/add-store">Create your store</button>
        </div>
    </div>
</div>

<!-- ERROR STATE -->
<div *ngIf="appState === DataState.ERROR_STATE">
    <div class="d-flex justify-content-center">
        <div class="">
            <p class="text-danger">An error. Reload </p>
            <button routerLink="/login" mat-raised-button >Try again</button>
        </div>
    </div>
</div>