<div class="container">
    <div class="d-flex justify-content-between mt-4">
        <h1>
            <button (click)="onGoBack()" mat-icon-button><mat-icon>arrow_back</mat-icon></button>
            Home
        </h1>
        <button *ngIf="!(isAdelivery$ | async) as delivery " mat-raised-button (click)="onGoToCreateDelivery()">Becomme
            delivery</button>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <button mat-raised-button class="float-end" routerLink="/withdrawal" >withdrawal</button>
        </div>
    </div>
    <div class="px-2">
        <!-- Recent Activities -->
        <div class="row">
            <h3>Activities</h3>
            <div class="col-6">
                <div class="card mb-2">
                    <div class="card-body d-flex justify-content-between">
                        <mat-icon class="text-success">task_alt</mat-icon>
                        <span class="number">{{ 0 | number}}</span>
                    </div>
                </div>
                <h4 class="small text-center mb-4"><strong>Completed Order</strong></h4>
            </div>
            <div class="col-6">
                <div class="card mb-2">
                    <div class="card-body d-flex justify-content-between">
                        <mat-icon>currency_franc</mat-icon>
                        <span class="price">{{ 0 | customCurrency }}</span>
                    </div>
                </div>
                <h4 class="small text-center "><strong>Order</strong></h4>
            </div>
        </div>
        <hr>
        <div class="row">
            <h2>Menu</h2>
            <div class="col-6">
                <div class="card mb-2">
                    <div class="card-body d-flex justify-content-center" (click)="onGoToCustomerOrderList()">
                        <mat-icon>receipt_long</mat-icon>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-2">
                    <div class="card-body d-flex justify-content-center" (click)="onGoToScan()">
                        <mat-icon>qr_code_scanner</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>