<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between">
                <h2>Settings</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="configurationForm" (ngSubmit)="onUpdateConfiguration()">
                    <div class="mb-3">
                        <label for="deliveryFeeDefault" class="form-label">Frais de livraison par défaut (FCFA)</label>
                        <input type="number" id="deliveryFeeDefault" class="form-control"
                            formControlName="deliveryFeeDefault"  [value]="configuration.deliveryFeeDefault"/>
                    </div>

                    <div class="mb-3">
                        <label for="deliveryFeePerKm" class="form-label"> Kilometrage</label>
                        <input type="number" id="deliveryFeePerKm" class="form-control"
                            formControlName="deliveryFeePerKm" [value]="configuration.deliveryFeePerKM" />
                    </div>

                    <div class="mb-3">
                        <label for="percentStrore" class="form-label">Pourcentage du magasin (%)</label>
                        <input type="number" id="percentStore" class="form-control" formControlName="percentStore" [value]="configuration.percentStore" />
                    </div>

                    <div class="mb-3">
                        <label for="percentDelivery" class="form-label">Pourcentage du livreur (%)</label>
                        <input type="number" id="percentDelivery" class="form-control"
                            formControlName="percentDelivery"  [value]="configuration.percentDelivery" />
                    </div>
                    <div class="mb-3">
                        <label for="percentSystem" class="form-label">Pourcentage du Systeme (%)</label>
                        <input type="number" id="percentSystem" class="form-control" formControlName="percentSystem" [value]="configuration.percentSystem" />
                    </div>

                    <button type="submit" class="btn btn-primary" [disabled]="!configurationForm.valid">Mettre à
                        jour</button>
                </form>
            </div>
        </div>
    </div>