.product-image {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    position: absolute;

}

.price {
    font-weight: 500;
    color: #ec437c;
}

button {
    border-radius: 15px;
}


h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}
.number{
    width: 48px;
    height: 20px;
}



mat-nav-list a {
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px #333;
    border-radius: 15px;

}

mat-nav-list a:hover {
    box-shadow: none;
}


@media screen and (max-width: 575px) {
   
    
}