mat-form-field {
    width: 500px
}

.customButton{
    border-radius: 15px;
    width: 500px;
}

h1 {
    font-weight: 900;
    color: #ff4081;
    font-size: 30px;
    margin-bottom: 10px;
}


.product-image {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    position: absolute;

}


@media screen and (max-width: 575px) {
    mat-form-field {
        width: 100%;
    }

    .customButton {
        width: 100%;
    }

   
}