<div class="container pt-2">
    <div class="px-2">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body" [formGroup]="updateForm">
                        <h2 class="card-title">Save New Password</h2>
                        <div class="mb-2">
                            <mat-form-field appearance="outline">
                                <mat-label>Current Email</mat-label>
                                <input type="email" matInput formControlName="email" />
                                <mat-error>Email cannot be empty</mat-error>
                            </mat-form-field>

                        </div>
                        <div class="mb-1">
                            <mat-form-field appearance="outline">
                                <mat-label>New Password</mat-label>
                                <input type="email" matInput formControlName="newPassword" />
                                <mat-error>Password cannot be empty</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="mb-2">

                            <button *ngIf="!(isLoading$ | async)" [disabled]="!updateForm.valid" mat-flat-button
                                color="accent" (click)="onSaveNewPassword()">Save Now</button>
                            <!-- *ngIf="isLoading$ | async" -->
                            <button *ngIf="(isLoading$ | async)" class="btn btn-danger" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                saving...
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <app-global-spinner *ngIf="(isLoading$ | async)"></app-global-spinner>
    <!-- <app-global-spinner *ngIf="!(isLoading$ | async)"></app-global-spinner> -->

</div>